<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_DIR">./logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="ApplicationLog"
                     fileName="${LOG_DIR}/revplay.log"
                     filePattern="${LOG_DIR}/revplay-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="ErrorLog"
                     fileName="${LOG_DIR}/revplay-error.log"
                     filePattern="${LOG_DIR}/revplay-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.rev.app.service" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Logger>

        <Logger name="com.rev.app.repository" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationLog"/>
        </Logger>

        <Logger name="com.rev.app.controller" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Logger>

        <Logger name="com.rev.app.config" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationLog"/>
        </Logger>

        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationLog"/>
        </Logger>

        <Logger name="org.hibernate" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationLog"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Root>
    </Loggers>
</Configuration>
